:root {
    --bg-color: #0f0f1e;
    --text-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}