name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt
      - name: Build image
        run: |
          docker build -t pablaofficeal/fastapi-app:latest .
      - name: Push image
        run: |
          docker push pablaofficeal/fastapi-app:latest